body {
    background-color: #ffffff;
    font-family: "Barlow";
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
  
/* Style to center grid column */
.col-centered{
    float: none;
    margin: 0 auto;
}
    
/* Some custom styles to beautify this example */
.row{
    background: #dbdfe5;
}
    
.demo-content{
    padding: 25px;
    font-size: 18px;
    background: #abb1b8;
}


#container {
    padding-top: 10%;
    border-style: solid;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.body{
    padding-top: 50%;
    border-style: solid;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.container {
    align-items: center;
    justify-content: center;
  }
  
img {
    max-width: 25%;
    max-height:15%;
    float: left;
  }
  
.text {
    font-size: 20px;
    padding-left: 20px;
    padding-top: 20%;
    float: left;
  }
  
h2 { 
    text-align: left; 
    background-color: black;
    color: white; 
}

h5 {
    text-align: left;
}

h6 {
    text-align: left;
}

h4 {
    text-align: left;
}

.container form .personal-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .personal-info .input-box{
    margin: 5px 0px 3px 0;
    width: calc(100% / 2 - 20px);
}

.personal-info .input-box .details{
    font-weight: 500;
    margin-bottom: 5px;
}

.personal-info .input-box input{
    height: 35px;
    width: 80%;
}

form .personal-info .bd-box{
    margin: 5px 0px 3px 0;
    width: calc(100% / 1 - 20px);
}

.personal-info .bd-box .details{
    font-weight: 500;
    margin-bottom: 5px;
}

.personal-info .bd-box input{
    height: 35px;
    width: 80%;
}

.box img {
    width: 100%;
    height: 100%;
}

.box1 img {
    object-fit: cover;
}

